@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

:root {
    --primary-color: #34D399;
    --dark-grey: #6B7280;
    --white: #F3F4F6;
}

body {
    font-family: 'Open Sans', sans-serif;
    margin: 0px;
}

.margin-md {
    margin: 2rem;
}

hr {
    margin: 2rem 0rem;
}

.container {
    padding: 1rem 1rem
}

.container-center {
    max-width: 600px;
    margin: auto;
}

.link {
    box-sizing: border-box;
    text-decoration: none;
    padding: 0.5rem 1rem;
}

.link-primary {

    background-color: var(--primary-color);
    border-radius: 0.5rem;
    color: white;
}

.link-secondary {
    color: var(--primary-color);
    border-radius: 0.5rem;
    border: 1px solid var(--primary-color)
}

.no-bullet {
    list-style: none
}



.list-inline {
    display: inline;
    padding: 0rem 0.5rem
}

.navigation {
    background-color: var(--primary-color);
    color: white;
    padding: 0.5rem;
    border-bottom-left-radius: 1rem;
}

.navigation .nav-pills {
    font-weight: bold;
    font-size: 1.1rem;
}

.navigation .nav-pills {
    text-align: right
}

.navigation .link {
    color: white
}

.navigation .link-active {
    font-weight: bold;
}

.hero {
    padding: 2rem;
    padding-top: 5rem;
}

.hero .hero-img {
    max-width: 600px;
    display: black;
    margin: auto;


}

.hero .hero-heading {
    padding-top: 1rem;
    color: var(--dark-grey);
    text-align: center;
}

.hero .hero-heading .heading-inverted {
    color: var(--primary-color)
}

.section {
    padding-top: 2rem;
}

.section h1 {
    text-align: center;

}

.ow {
    background-color: var(--white);
}

.footer {
    background-color: var(--primary-color);
    padding: 1rem 1rem;
    text-align: center;
    color: white;
    border-top-right-radius: 1rem;
    
}

.footer .link {
    color: white;
}

.footer .footer-header {
    font-weight: bold;
    font-size: large;
}

.footer ul {
    padding-inline-start: 0px;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

div {
    display: block;
}

.nav-brand {
    font-weight: bold;
    font-size: larger;
    font-family: 'Montserrat', sans-serif;
    display: inline;
    text-decoration: none;

}

.blog {
    width: 70%;
}


